@charset "utf-8";



html {
   font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
   height: 100%;
   font-size: 18px;
   color: rgb(101, 101, 101);
}

body {
   padding: 20px 0px 0px 20px;
   position: relative;
}

h1 {
   font-weight: normal;
   font-size: 2.4em;
   margin-top: 5px;
   margin-left: 20px;
   padding-bottom: 30px;
}

div#borderOptions {
   line-height: 1.5em;
   z-index: 1;
   position: relative;
   width: 550px;
   background-color: rgba(255, 255, 255, 0.8);
   border-right: 1px solid rgb(155, 155, 155);
}

label {
   display: inline-block;
   width: 140px;
   margin-left: 10px;
	margin-right: 10px;
}


input.eraseT {
   display: inline-block;
   margin-right: 10px;
}

div#outcome {
   position: absolute;
   top: 80px;
   left: 400px;
   font-size: 22px;
}


div#outcomebox {
   width: 300px;
   height: 375px;
   position: absolute;
   top: 20px;
   left: 300px;
   z-index: -1;	
   background-color: yellow;
}

div#outcomeback {
   width: 300px;
   height: 375px;
   position: absolute;
   top: 20px;
   left: 300px;
   z-index: -2; 
   background-color: transparent;
   outline: 2px solid rgb(191,191,191);
}

div#outcomebox img {
	width: 300px;
	height: 375px;
}

label#translabel {
	float: left;
}

span#outcometrans {
	display: block;
	float: left;
	width: 300px;
	height: auto;
}

label#originlabel {
	clear: left;
}
div#outcomecode {
	line-height: 1.2em;
	color: red;
}



   