/vendor/
/04_php_training/test1.php
/.idea/
/05_wordpress_training/updater/.idea/
/05_wordpress_training/updater/vendor/
/05_wordpress_training/updater/temp/
/08_javascript/03_simple_projcet/node_modules
/08_javascript/03_simple_projcet/package.json
/08_javascript/03_simple_projcet/package-lock.json
/05_wordpress_training/plugin-boilerplate/plugin-name-dir/
/.gitignore
/05_wordpress_training/plugin-boilerplate/boilerplate-creator/vendor/
/05_wordpress_training/plugin-boilerplate/restaurant-booking/
/05_wordpress_training/plugin-boilerplate/siawood-products/
/game/git/section-1/
/game/git/section-2/
package-lock.json
