@charset "utf-8";

figure#card img#cover {
	transform: scaleX(1);
	box-shadow: 5px 5px 10px rgb(101, 101, 101);
	transform-origin: left;
	transition: all 1s linear;
}

figure#card:hover img#cover {
	box-shadow: -5px 5px 10px rgb(101, 101, 101);	
	transform: scaleX(-1);
}