@charset "utf-8";

div#container {
	perspective: 1200px;
	transform-style: preserve-3d;
}

div#container div.card {
	transform-style: preserve-3d;
}

div#container div.card img.back {
	transform: rotateY(180deg);
	backface-visibility: hidden;	
}


div#card1 {
	transform: translateZ(0px) rotateZ(-20deg) rotateY(0deg);
	transition: transform 1s;	
}

div#card1:hover {
	transform: translateZ(200px) rotateZ(-20deg) rotateY(180deg);	
}

div#card2 {
	transform: translateZ(0px) rotateZ(20deg) rotateY(0deg);
	transition: transform 1s;	
}

div#card2:hover {
	transform: translateZ(200px) rotateZ(20deg) rotateY(-180deg);
	transition: transform 1s;	
}



