@charset "utf-8";

/* HTML and Body styles */

html {
   background: white;
   font-family: Verdana, Geneva, sans-serif;
}

body {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;    
   margin: 0px auto;
   min-width: 320px;
   max-width: 1100px;  
   padding: 10px;
   width: 100%;
}

/* Header styles */

body > header {
   border-bottom: 10px solid rgb(200, 118, 0);
   color: white;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap; 
   -webkit-align-items: flex-end;
   align-items: flex-end; 
   margin-bottom: 0px;
   width: 100%;
}

body > header > img {
   display: block;
   -webkit-flex: 0 1 200px;
   flex: 0 1 200px;
}


/* Navigation list styles */

body > header > nav {
   -webkit-flex: 1 1 441px;
   flex: 1 1 441px;
   margin-top: -50px;
}

body > header > nav > ul {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row nowrap;
   flex-flow: row nowrap;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

body > header > nav > ul li {
   -webkit-flex: 0 1 auto;
   flex: 0 1 auto;
}

body > header > nav > ul > li {
   font-size: 1.2em; 
   line-height: 2.3em; 
   height: 2.3em;
   padding: 0px 10px;
}

body > header > nav > ul > li > a {
   color: white;
   display: block;
   width: 100%;
}


/* Section Styles */

body > section {
   -webkit-flex: 1 1 400px;
   flex: 1 1 400px;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-align-content: flex-start;
   align-content: flex-start;   
}

/* Article Styles */





body > section > article > h1 {
   color: rgba(51, 51, 51, 0.9);   
   font-size: 2.9em;
   font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
   line-height: 1em;
   margin-top: 30px;
}

p {
   color: rgb(51, 51, 51);
   font-size: 1.4em;
   margin: 10px 20px 20px 0px;
   line-height: 1.4em;
   font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}



/* Right-side Navigation List Styles */

body > nav {
   border-left: 1px solid rgba(51, 51, 51, 0.4);   
   -webkit-flex: 0 0 241px;
   flex: 0 0 241px;
   padding-bottom: 15px;
   background: url(csb_back.png);
}

body > nav > img {
   display: block;
   width: 100%;
   margin: 0px auto;
}

body > nav li.lTitle {
   font-size: 1.1em;
   color: rgba(51, 51, 51, 0.8);
   margin: 15px 0px 10px 20px;
}

body > nav a {
   display: block;
   margin-left: 30px;
   color: rgba(51, 51, 51, 0.7);
}

body > nav a:hover {
   color: rgb(137, 81, 0);
   text-decoration: underline;
}


/* Form Layout Styles */

form#payment {
   background-color: rgba(206, 141, 56, 0.1);
   width: 700px;
	position: relative;
}

fieldset {
   margin-top: 30px;
   border: none;
}

legend {
   background-color: rgb(200, 118, 0);
   color: rgba(255, 255, 255, 0.7);
   font-size: 0.9em;
   border-radius: 10px;
   margin-bottom: 10px;
   padding: 8px;
   width: 100%;
}


/* Input and Label Styles */

label {
   display: block;
   float: left;
   clear: left;
   font-size: 0.9em;
   margin-bottom: 10px;
   margin-right: 10px;
   width: 180px;
   text-align: right;
}

form#payment input, form#payment select {
   display: block;
   float: left;
}

/* Radio Button Styles */

label.cardLabel {
   display: inline-block;
   float: none;
   width: auto;
}

label.cardLabel img {
   border: 1px solid rgb(181, 181, 181);
   box-shadow: rgb(51, 51, 51) 0px 0px 10px;
}

input[type='radio'] {
   width: auto;
   float: none;
   clear: none;
   margin-right: 15px;
}

input[type="button"] {
	display: block;
	position: absolute;
	right: 0px;
	bottom: -75px;
	width: 125px;
	height: 50px;
}

input#csc {
	margin-left: 10px;
	width: 50px;
}
/* Footer Styles */

footer {
   border-top: 1px solid rgba(51, 51, 51, 0.4);
   clear: left;
   text-align: right;
   width: 100%;
}

footer, footer span a {
   padding: 10px;
   color: rgba(51, 51, 51, 0.7);
}

footer span a:hover {
   color: rgb(0, 167, 167);
   text-decoration: underline;
}



