@charset "utf-8";

input#csc:invalid {
	transform: translateX(5px) skewX(20deg) rotate(1deg);
	box-shadow: 0px 0px 10px red;
	transition: all 1s cubic-bezier(0,5,1,-5);
}

input#csc:focus:invalid {
	transform: translateX(0px) skewX(0deg) rotate(0deg);
	transform-origin: bottom;
	box-shadow: 0px 0px 0px red;
	transition: none;
}







	