@font-face {
  font-family: Anjoman;
  font-style: normal;
  src: url("../fonts/Anjoman-FaNum-ExtraLight.woff2") format("woff2"),
    url("../fonts/Anjoman-FaNum-ExtraLight.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: AnjomanBold;
  src: url("../fonts/Anjoman-FaNum-SemiBold.woff2") format("woff2"),
    url("../fonts/Anjoman-FaNum-SemiBold.woff") format("woff");
  font-display: swap;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
  font-family: Anjoman !important;
}

h1,h2,h3,h4,h5, h6 {
  font-family: AnjomanBold !important;
}

h1 {
  font-size: 1.7rem !important;
  line-height: 1.6em !important;
  margin: .4em .3em;
}

h2 {
  font-size: 1.5rem !important;
  line-height: 1.6em !important;
  margin: .4em .3em;
}

p {
  font-size: 1.1rem !important;
  line-height: 1.6em !important;
  margin: .4em .3em;
}