
body{background-color: rgb(189, 189, 189);
    direction: rtl;
    text-align: right;
}
#sections{
    background-color: antiquewhite;
    height: 100vh;
    width: 200px;
    float: right;
    margin-left: 20px;
    position: fixed;
}
#space{
    height: 2350px;
    width: 220px;
    float: right;
}
.part{
    width: 100%;
    height: 8%;
    border-bottom: 0;
    border: 1px solid black;
    padding: 10px;
}
.part:last-child{
    border-bottom: 1px solid black;
}
a{
    text-decoration: none;
    color: black !important;
}