*{box-sizing: border-box}
body{
    font-family: 'vazir';
    background-color: rgb(84, 152, 207);
    direction: rtl;
    text-align: center;
    padding: 0;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    margin-top: 22px;
}
.nav-li{
    display: inline-block;
    text-align: center;
    height: 70px;
    width: 110px;
}
a{
    text-decoration: none;
}
#space{
    height: 100px;
}
#nav-menu{
    background-color: rgb(247, 201, 51);
    text-align: left;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1;
}
#brand{
    position: relative;
    top:-90px;
    float: right;
}
#brand img{
    width: 50px;
    height: 50px;
}
input[type="text"] , button{
    font-family: 'vazir';
    height: 30px;
    width: 250px;
}
button{
    width: 125px;
    margin: 15px;
    border-radius: 5px;
}
#feature{
    background-color: rgb(230, 202, 112);
    text-align: right;
    margin: 10px auto;
    width: 65%;
    padding:20px;
}
#feature img{
    width: 70px;
    height: 70px;
    float: right;
    padding:5px;
    margin: 10px;
}
video{
    width: 450px;
    height: 250px;
    margin: 15px;
}
#pricing{
    margin: 0 auto;
    width: 90%;
    float: none;
}
.box{
    background-color: rgb(230, 202, 112);
    margin: 10px;
    width: 30%;
    float: right;
    padding:20px;
}
#pricing::after{
    display: table;
    content: "";
    clear: both;
    overflow: auto;
}
.title{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    vertical-align: middle;
    padding-top: 10px;
}
strong{
    display: inline-block;
    margin-top:10px;
}
#footer{
    background-color: rgb(247, 201, 51);
    text-align: right;
    width: 100%;
    height: 100px;
    margin: 0;
}
#footer #brand{
    float: left;
}