@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNorms-Regular.otf") format("openType");
  font-display: swap;
}

@font-face {
  font-family: "TTNorms Medium";
  src: url("../fonts/TTNorms-Medium.otf") format("openType");
  font-display: swap;
}

@font-face {
  font-family: "TTNorms Light";
  src: url("../fonts/TTNorms-Light.otf") format("openType");
  font-display: swap;
}

@font-face {
  font-family: "Times Roman Italic";
  src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
  font-display: swap;
}

/*
rem vs em: https://webdesign.tutsplus.com/tutorials/comprehensive-guide-when-to-use-em-vs-rem--cms-23984
You can use em for: margin, padding, width, height and line-height
Do not use em for font size
You can use rem for: font-size + Any sizing that doesn’t need em units for the reasons described above, and that should scale depending on browser font size settings. 
This accounts for almost everything in a standard design including most heights, most widths, 
most padding, most margins, border widths, most font sizes, shadows, basically almost every part of your layout.

Always Use rem Media Queries

Don’t Use em or rem For: Multi Column Layout Widths
Column widths in a layout should typically be % based so they can fluidly fit unpredictably sized viewports.
However single columns should still generally incorporate rem values via a max-width setting

.container {
    width: 100%;
    max-width: 75rem;
}

*/

html {
  box-sizing: border-box;
  font-family: TTNorms;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none!important;
  color: inherit;
}


.msn-container {
  max-width: 80rem;
  margin: 0 auto;
  padding-right: 1em;
  padding-left: 1em;
}

.msn-mr-1 {
  margin-right: .25rem;
}

.msn-mr-2 {
  margin-right: .5rem;
}

.msn-mt-1 {
  margin-top: .25rem;
}

.msn-mt-2 {
  margin-top: .5rem;
}

.msn-text-align-center {
  text-align: center;
}

/* 
BEM CSS naming standard
=======================
https://getbem.com/introduction/
https://9elements.com/bem-cheat-sheet/
https://sparkbox.com/foundry/bem_by_example


*/

.msn-header-top {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.msn-nav {
  display: flex;
  align-items: center;
}
.msn-nav-logo {
  margin-right: 2em;
}

.msn-menu {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
}

.msn-menu__link {
  color: rgb(40, 40, 147) !important;
  padding: 0 1rem;
  font-size: 1rem;
}

.msn-header__link--blue {
  background-color: #0050C8;
  color: white;
  padding: 0.6rem 1.6rem;
  border-radius: .5rem;
  font-size: 1.1rem;
}

.msn-header__link--green {
  background-color: #0e9f30;
  color: white;
  padding: 0.6rem 1.6rem;
  border-radius: .5rem;
  font-size: 1.1rem;
}

.msn-header-content {
  display: flex;
  align-items: center;
}

.header-content__left {
  flex-basis: 50%;
}

.header-content__right {
  flex-basis: 50%;
}

.msn-header-content-wrapper {
  max-width: 28rem;
}

.msn-header-content__title {
  color: #081D43;
  font-family: "TTNorms Medium" !important;
}

.msn-header-content__text {
  color: #6C7890;
  font-family: "TTNorms Light";
  line-height: 2rem;
}

.msn-header-content__links {
  display: flex;
}

.msn-header-content__link {
  display: block;
  width: 10rem;
  text-align: center;
}


.msn-header-content__images {
  width: 100%;
}


/* max-width: 1200px */
@media only screen and (max-width: 75rem) { 
  .msn-container {
    max-width: 60rem;
  }
  
}

/* max-width: 992px */
@media only screen and (max-width: 62rem) {
  .msn-container {
    max-width: 45rem;
  }
  
}

/* max-width: 768px */
@media only screen and (max-width: 48rem) {
  .msn-container {
    max-width: 34rem;
  }
  
}

/* max-width: 576px */
@media only screen and (max-width: 36rem) {
  .msn-container {
    max-width: 100%;
  }
  
}