@charset "utf-8";

/* Transition Styles */

nav#topLinks a {
   position: relative;	
   color: rgb(224,207,191);
   font-size: 1.5em;	
   top: 0px;
   left: 0px;
   text-shadow: rgba(0, 0, 0, 1) -1px -1px 1px;	
   transition: all 1.2s;             
}

nav#topLinks a:hover { 
   color: rgb(92,75,57);
   font-size: 2.4em;
   top: -30px;
   left: 12px;
   text-shadow: rgba(0, 0, 0, 0.35) 10px 10px 5px;    
}



